<ion-header>
  <ion-navbar>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Export
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <button ion-button icon-start full color="light" (click)="getTheFileIn('json')">
    <ion-icon name="archive"></ion-icon>
    Télécharger en format JSON
  </button>

  <button ion-button icon-start full color="light" (click)="getTheFileIn('csv')">
    <ion-icon name="archive"></ion-icon>
    Télécharger en format CSV
  </button>

  <button ion-button icon-start full color="light" (click)="getTheFileIn('xls')">
    <ion-icon name="archive"></ion-icon>
    Télécharger en format EXCEL
  </button>

</ion-content>
