<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Entreprise" tabIcon="ios-list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Carte" tabIcon="ios-map"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Export" tabIcon="archive"></ion-tab>
</ion-tabs>
