<ion-header>
  <ion-navbar>
    <button ion-button [menuToggle]="activeMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Entreprises
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <general-search-bar></general-search-bar>

  <ion-item class="item-ios-custom">
    Résultats
    <ion-badge item-end>{{ searchResultLength }}</ion-badge>
  </ion-item>

  <div *ngFor="let company of companies">
        <button class="company-list-item" ion-item (click)="moreCompanyInformationModal(company)">
          <ion-label>{{ company.name }}</ion-label>
        </button>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" text-center  loadingText="Loading more data...">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
    {{ loadingText }}
  </ion-infinite-scroll>

</ion-content>



