<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="light">
            <ion-title>Filtres</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <filters></filters>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>


