.ape{
  border-left: 5px solid #ff9800;
}

.category{
  border-left: 5px solid #9acb00;
}

.departement{
  border-left: 5px solid #1ba0e5;
}

.city{
  border-left: 5px solid #3567ca;
}

.creationYear{
  border-left: 5px solid #6534cc;
}

.legalform{
  border-left: 5px solid #a83acd;
}

.workForce{
  border-left: 5px solid #cb308b;
}

.turnover{
  border-left: 5px solid #d10000;
}

.region{
  border-left: 5px solid #ff9800;
}