<div class="ape">
  <ion-item padding-bottom>
    <ion-label color="primary" floating>Activité (code APE)</ion-label>
    <ion-input
            [(ngModel)]="ape"
            (keyup.enter)="searchByFilters()"
    ></ion-input>
  </ion-item>
  <div padding-left *ngFor="let element of selecteApe">
    <ion-icon (click)="searchByFilters((element), selecteApe)" name="trash"></ion-icon> <ion-badge>{{ element }}</ion-badge>
  </div>
</div>

<div class="category">
  <ion-item>
    <ion-label color="primary">Catégories d'entreprise</ion-label>
    <ion-select [(ngModel)]="category" (ngModelChange)="searchByFilters()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let element of categoryList">
        <ion-option value="{{ element.code }}">{{ element.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let element of category">
     <ion-badge>{{ element }}</ion-badge>
  </div>
</div>

<div class="departement">
  <ion-item>
    <ion-label color="primary">Département</ion-label>
    <ion-select [(ngModel)]="departement" (ngModelChange)="searchByFilters()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let element of departementList">
        <ion-option value="{{ element.code }}">{{ element.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let element of departement">
    <ion-badge>{{ element }}</ion-badge>
  </div>
</div>

<div class="city">
  <ion-item>
    <ion-label color="primary" floating>Commune</ion-label>
    <ion-input
            [(ngModel)]="city"
            (keyup.enter)="searchByFilters()"
    ></ion-input>
  </ion-item>
  <div padding-left *ngFor="let element of selectedCities">
    <ion-icon (click)="removeFromList((element), selectedCities)" name="trash"></ion-icon> <ion-badge>{{ element }}</ion-badge>
  </div>
</div>

<div class="creationYear">
  <ion-item padding-bottom>
    <ion-label color="primary" floating>Année de création</ion-label>
    <ion-input
            [(ngModel)]="creationYear"
            (keyup.enter)="searchByFilters()"
    ></ion-input>
  </ion-item>
  <div padding-left *ngFor="let element of selectedCreationYears">
    <ion-icon (click)="removeFromList((element), selectedCities)" name="trash"></ion-icon> <ion-badge>{{ element }}</ion-badge>
  </div>
</div>

<div class="legalform">
  <ion-item>
    <ion-label color="primary">Statut juridique</ion-label>
    <ion-select [(ngModel)]="legalform" (ngModelChange)="searchByFilters()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let element of legalFormList">
        <ion-option value="{{ element.code }}">{{ element.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let element of legalform">
    <ion-badge>{{ element }}</ion-badge>
  </div>
</div>

<div class="workForce">
  <ion-item>
    <ion-label color="primary">Effectifs</ion-label>
    <ion-select [(ngModel)]="workForce" (ngModelChange)="searchByFilters()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let element of workForceList">
        <ion-option value="{{ element.code }}">{{ element.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let element of workForce">
    <ion-badge>{{ element }}</ion-badge>
  </div>
</div>

<div class="turnover">
  <ion-item>
    <ion-label color="primary">Chiffre d'affaire</ion-label>
      <ion-select [(ngModel)]="turnover" (ngModelChange)="searchByFilters()" multiple="true" cancelText="Annuler" okText="Valider">
        <div *ngFor="let element of turnoverList">
          <ion-option value="{{ element.code }}">{{ element.name }}</ion-option>
        </div>
      </ion-select>
  </ion-item>
  <div padding-left *ngFor="let element of turnover">
    <ion-badge>{{ element }}</ion-badge>
  </div>
</div>

<div class="region">
  <ion-item>
    <ion-label color="primary">Region</ion-label>
    <ion-select [(ngModel)]="region" (ngModelChange)="searchByFilters()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let element of regionsList">
        <ion-option value="{{ element.code }}">{{ element.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let element of region">
    <ion-badge>{{ element.name }}</ion-badge>
  </div>
</div>

<button (click)="clearAllFilters()" ion-button full color="danger">Réinitialiser les filtres</button>